.App {
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
}

.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.Site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.Site-content {
	flex: 1;
}
